<a href="https://colab.research.google.com/github/12jeong/Coding-Challenge-Practice/blob/master/programmers/bfs_dfs_level2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 타겟넘버
https://programmers.co.kr/learn/courses/30/lessons/43165

In [0]:
def solution(numbers, target):
    result = [0]
    for n in numbers:
        visit = []
        for x in result:
            visit.append(x+n)
            visit.append(x-n)
        result = visit
        print(result)
    return result.count(target)

In [39]:
solution([1,2,2,3],4)

[1, -1]
[3, -1, 1, -3]
[5, 1, 1, -3, 3, -1, -1, -5]
[8, 2, 4, -2, 4, -2, 0, -6, 6, 0, 2, -4, 2, -4, -2, -8]

2